
label {
	font-size: 20px;
	font-family: ariel;
}

input[type="text"]{
	margin:10px;
	width: 140px;
	font-size: 20px;
	font-family: ariel;
	
}

td {
	border-style: solid;
	border-width: 2px;
	text-align: center;
	font-family: ariel;
	width: 300px;
	font-size: 20px;
	padding: 5px;
	
}